/*TOC*/
/*
Global
SECTION 1: Main Body, Global Styles 
SECTION 2: Site Structure

Header and Navigation 
SECTION 3A: Header and Navigation Bar 

Page Specific 
SECTION 4A: Evently Page 
SECTION 4B: Kite Page 

Component Specific 
SECTION 5A: Events (View) 
SECTION 5B: Discover (View) 
SECTION 5C: Following (View) 
SECTION 5D: Profile (View) 
SECTION 5E: Organization or Group (View) 
SECTION 5F: User View (Small List View)

Appendix 
APPENDIX A: CSS defaults  
APPENDIX B: Warning and Error Text					
APPENDIX C: Fonts
APPENDIX D: Colors 
APPENDIX E: Old Code 	
APPENDIX F: Updates Page *temp

*/

/* NEW EVENTLY COLOR */
/*
#F36B7F
Dark Pink #B35665
Blue #5C82E6
Fonts: Segoe 

*/


/****************************************************
SECTION 4A: Evently Page 
*****************************************************/
/* STRUCTURE */
.mobile {
	width: 360px;
	height: 580px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid rgba(0, 0, 0, 0.7);		
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;	
}

.mobile-header {
	float: left;
	width: 100%;
	height: 50px;
	background-color: #F36B7F;
	background-color: #4D82EA;	
	background-color: #F05559;
}
	
.mobile-body {
	float: left;
	overflow: hidden;
	width: 100%;
	height: 470px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);		
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);			
}

.mobile-footer {
	float: left;
	width: 100%;
	height: 58px;	
	background-color: #F05559;	
}

.footer-container-four {
	float: left;
	width: 25%;
	height: 58px;		
	cursor: pointer;
}

.footer-container-four:hover {
	background-color: #E35054;		
}

.selected {
	background-color: #F26E71;

}

/* HEADER */
.mobile-header-left {
	float: left;
	width: 20%;
	height: 50px;		
	cursor: pointer;	
}

.mobile-header-middle {
	float: left;
	width: 60%;
	height: 50px;		
	cursor: pointer;		
}

.mobile-header-right {
	float: left;
	width: 20%;
	height: 50px;		
	cursor: pointer;	
}

.header-icon {
	color: #F7F7F7;
	color: #F2F2F2;
	color: #E8E8E8;
	color: #E6E6E6;
	margin: 0px;
	margin-top: 12px;
	padding: 0px;
	text-align: center;
}

/* Selected Page */
.header-selected-page {
	text-align: center;
	width: 28px;
	margin: 0px; 
	padding: 0px;
	margin-top: 0px;
}

.mobile-header-current-page-text {
	margin: 0px;
	margin-top: 16px;
	margin-bottom: -6px;
	font-weight: bold;
	font-size: 95%;
	padding: 0px;
	color: #F7F7F7;	
	text-align: center;
}

/* HEADER: Page Select */
.mobile-header-selected-page-icon-holder {
	float: left;
	overflow: auto;
	width: 20%;
	margin-left: 40%;
	margin-top: 1px;
	min-height: 12px;	
}

.mobile-header-selected-page-icon {
	height: 10px;
	margin: 0px;
	padding: 0px;

}


/* BODY */

/* FOOTER */
/* Structure */
.footer-height {
	min-height: 60px;
}

.mobile-footer-icon-holder {
	float: left;
	width: 100%;
	height: 36px;				
 
}

.mobile-footer-text-holder {
	float: left;
	width: 100%;
	height: 24px;	 
}

/* Style */
.footer-icon {
	color: #F7F7F7;
	color: #F2F2F2;
	color: #E8E8E8;
	color: #E6E6E6;
	margin: 0px;
	margin-top: 6px;
	padding: 0px;
	text-align: center;
}

.footer-text {
	margin: 0px;
	padding: 0px;
	color: #E6E6E6;	
	color: #E8E8E8;	
	
}

/* DEFAULT STYLE */
.border-gray-right {
	float: right;
	height: 60px;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid rgba(0, 0, 0, 0.3);	
}


/****************************************************
SECTION 4B: Kite Page 
*****************************************************/
/* STRUCTURE */
.kite {
	width: 360px;
	height: 580px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid blue;
	border: 1px solid rgba(0, 0, 0, 0.8);		
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;	
}

.kite-header {
	float: left;
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
}
	
.kite-body {
	float: left;
	width: 100%;
	height: 470px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);		
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);			
}

.kite-footer {
	float: left;
	width: 100%;
	height: 58px;	
	background-color: #1DA1F2;	
	background-color: #FFFFFF;	

}

/* HEADER */


/* BODY */


/* FOOTER */
.footer-container-five {
	float: left;
	width: 20%;
	height: 58px;		
	cursor: pointer;	
}

.footer-container-five:hover {
	background-color: #FFFFFF;		
}

/****************************************************
SECTION 5A: Event (View) 
*****************************************************/
/* STRUCTURE */
#event-holder {
	width: 100%;
	height: 470px;
	overflow: hidden;		
}

.event {
	float: left;
	width: 100%;
	min-height: 88px;
	overflow: auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);		
}
 
.event-image-holder {
	float: left;
	width: 30%;
}

.event-about-holder {
	float: left;
	width: 70%;
	min-height: 88px;
	overflow: auto;
	margin-bottom: 4px;
}

/* STYLE */
.event-image {
	float: left;
	width: 70%;
 	margin-left: 15%;
	margin-top: 6px;
	margin-bottom: 6px;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;	
}


.events-about-header-text {
	margin: 0px;
	margin-top: 8px; 
 	padding: 0px;
	font-weight: bold;
 
}

.events-about-body-text {
	margin: 0px;
	padding: 0px;	
}

.events-about-link-text {
	color: #1DA1F2;
	color: #1B97E3;
	cursor: pointer;
	font-weight: bold;
	margin: 0px;
	padding: 0px;	
}

/* EVENT: Attending */
.event-attend-text {
	float: left;
	font-style: italic;
	font-size: 95%;
	margin: 0px;
	margin-left: 2px;
	padding: 0px;
}

.event-action-checkbox {
	float: left;
	margin: 0px;
	margin-top: 4px;
	padding: 0px;	
}

/* EVENT: Date Seperate */
.event-date {
	float: left;
	width: 100%;
	height: 28px;	
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);	
}

.event-date-text {
	font-weight: bold;
	margin: 0px;
	margin-top: 4px;
	padding: 0px;	
	text-align: center;
}

/****************************************************
SECTION 5B: Discover (View) 
*****************************************************/
/* STRUCTURE */
.discover {
	float: left;
	cursor: pointer; 
	width: 40%;
	margin-left: 5%;
	margin-top: 18px;
	height: 144px;
	margin-bottom: 18px;

}

/* IMAGES */
.discover-sports {
		
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/sports.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),	
	url('../../images/background/sports.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/sports.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),	
	-ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/sports.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),			
	url('../../images/background/sports.png'); 
	
	background-position: top left, bottom left, auto;
	background-size: auto, 100% 100%, cover;
	background-repeat: repeat, no-repeat, auto;		
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
} 

.discover-volunteer {
		
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/volunteer.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),	
	url('../../images/background/volunteer.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/volunteer.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),	
	-ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/volunteer.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),			
	url('../../images/background/volunteer.png'); 
	
	background-position: top left, bottom left, auto;
	background-size: auto, 100% 100%, cover;
	background-repeat: repeat, no-repeat, auto;		
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}

.discover-clubs {
		
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/background_5.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),	
	url('../../images/background/background_5.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/background_5.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),	
	-ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/background_5.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),			
	url('../../images/background/background_5.png'); 
	
	background-position: top left, bottom left, auto;
	background-size: auto, 100% 100%, cover;
	background-repeat: repeat, no-repeat, auto;		
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}

.discover-startup {
		
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/startup.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),	
	url('../../images/background/startup.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/startup.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),	
	-ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/startup.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),			
	url('../../images/background/startup.png'); 
	
	background-position: top left, bottom left, auto;
	background-size: auto, 100% 100%, cover;
	background-repeat: repeat, no-repeat, auto;		
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}

.discover-church {
		
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/church.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),	
	url('../../images/background/church.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/church.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),	
	-ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/church.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),			
	url('../../images/background/church.png'); 
	
	background-position: top left, bottom left, auto;
	background-size: auto, 100% 100%, cover;
	background-repeat: repeat, no-repeat, auto;		
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}

.discover-fashion {
		
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/church.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),	
	url('../../images/background/church.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/church.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),	
	-ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/church.png'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),			
	url('../../images/background/church.png'); 
	
	background-position: top left, bottom left, auto;
	background-size: auto, 100% 100%, cover;
	background-repeat: repeat, no-repeat, auto;		
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}

/* STYLE */
.discover-text {
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-family: Helvetica Neue,Helvetica,\\30D2ラギノ角ゴPro W3,Hiragino Kaku Gothic Pro,\\30E1イリオ,Meiryo,"ＭＳ Ｐゴシック",arial,sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	hyphens: auto;
	letter-spacing: -0.25px;
	line-height: 20px;
	overflow: hidden;
	overflow-wrap: break-word;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	word-spacing: 0px;
	-moz-text-size-adjust: none;
	text-align: center;
	margin-top: 120px;
	/*
	margin: 0px;
	padding: 0px;
	padding-top: 80px;	
	text-align: center;
	color: #F7F7F7;	
	*/

}

/* DISCOVER LIST: Sports */
/* This is an example as if you had clicked on sports looking for a sports group */ 


/****************************************************
SECTION 5C: Following (View) 
*****************************************************/
/* STRUCTURE */
#following {
	width: 100%;
	height: 470px;
	overflow: hidden;		
}

.organization  {
	float: left;
	width: 100%;
	height: 100px;	
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);	
	cursor: pointer;
}
 
.organization-image-holder {
	float: left;
	width: 25%;
}

.organization-about-holder {
	float: left;
	width: 75%;
	height: 100px;	
}

/* STYLE */
.organization-image {
	float: left;
	width: 70%;
 	margin-left: 15%;
	margin-top: 6px;
	margin-bottom: 6px;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;	
}

/* ORGANIZATION VIEW*/
/* Structure */
.organization-name {
	float: left;
	width: 100%;
	height: 25px;		
}

.organization-events {
	float: left;
	width: 100%;
	height: 20px;		
}

.organization-followers {
	float: left;
	width: 100%;
	height: 20px;		
}

.organization-action {
	float: left;
	width: 100%;
	height: 25px; 
 
}

/* Style */
.organization-header-text {
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	font-weight: bold;
 	color: #1B97E3;
}

.organization-text {
	margin: 0px;
	padding: 0px;
 	color: #5E5E5E;	
}

/* ORGANIZATION: Followers */
.organization-followers-text-area {
	float: left;
	width: 35%;
	height: 25px;	
}

.organization-followers-photos-area {
	float: left;
	width: 65%;
	height: 25px;	
}

.organization-followers-photo {
	float: left;
	margin-right: 6px;
	height: 22px;
	-webkit-border-radius: 40px 40px 40px 40px;
	-moz-border-radius: 40px 40px 40px 40px;
	border-radius: 40px 40px 40px 40px;	
}


/* ORGANIZATION: Action */
.organization-action-checkbox {
	float: left;
	width: 7%;
	height: 25px;		
}

.organization-action-following {
	float: left;
	width: 73%;
	height: 25px;			
}

.organization-action-expand {
	float: left;
	width: 20%;
	height: 25px;			
}

/* Style of Action Area */
.organization-action-checkbox-position {
	margin-top: 8px;
}

.organization-action-text {
	margin: 0px;
	padding: 0px;
 	color: #5E5E5E;		
	margin-top: 4px;
}

.organization-action-expand-icon {
	float: right;
	margin: 0px;
	margin-right: 4px;
	margin-top: 8px;
	color: #444444;
}


/****************************************************
SECTION 5D: Profile (View) 
*****************************************************/
/* USER NAME AND PHOTO */
/* Background Photo */
#user-profile-image-holder {
	float: left;
	width: 100%;
	height: 140px;	
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);	
	

	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-moz-linear-gradient(top, rgba(0,0,0,.5) 75%, rgba(0,0,0,0.9)),		
	url('../../images/background/background_12.jpg'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-webkit-linear-gradient(top, rgba(0,0,0,.5) 75%, rgba(0,0,0,0.9)),	
	url('../../images/background/background_12.jpg'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/background_small_9.jpg'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),	
	-ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),		
	url('../../images/background/background_small_9.jpg'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8)),			
	url('../../images/background/background_small_9.jpg'); 
	
	background-position: top left, bottom left, auto;
	background-size: auto, 100% 100%, cover;
	background-repeat: repeat, no-repeat, auto;		

} 

/* User Photo */

.user-profile-image-holder {
	width: 30%;
	height: 100px;
	margin-top: 15px;
	margin-left: 35%;
	text-align: center;
}

.user-profile-image {
	height: 100px;
	margin-top: 5px;
	border: 5px solid #424242;
	border: 5px solid #FFFFFF;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;	
}

/* USER INFORMATION */
/* Structure */
.user-profile-information {
	float: left;
	width: 100%;
	height: 50px;	
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);	
	background-color: #FAFAFA;
}

.user-profile-information-groups {
	float: left;
	width: 33%;
	height: 50px;
	border-right: 1px solid rgba(0, 0, 0, 0.25);		
}

.user-profile-information-groups-header {
	float: left;
	width: 100%;
	height: 25px;
}

.user-profile-information-groups-body {
	float: left;
	width: 100%;
	height: 25px;
}


.user-profile-information-events {
	float: left;
	width: 33%;
	height: 50px;	
 	border-right: 1px solid rgba(0, 0, 0, 0.25);	
}

.user-profile-information-friends {
	float: left;
	width: 33%;
	height: 50px;	 	
}


/* Style */
.user-profile-information-header-text {
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: #444444;
}

.user-profile-information-total-text {
	text-align: center;
	margin: 0px;
	margin-top: 4px;	
	padding: 0px;
	font-weight: bold;
	color: #1781C2;
}
 
/* USER FOLLOW AND SETTINGS */
.user-profile-settings {
	float: left;
	width: 100%;
	height: 50px;	
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);	
}


/* POSTS */
.user-profile-posts {

}

/*
#2883C5
*/



/****************************************************
SECTION 5E: Organization or Group (View)
*****************************************************/
/* STRUCTURE */
#group {
	width: 100%;
	height: 470px;
	overflow: hidden;		
}

.group-image {
	float: left;
	width: 100%;
	height: 150px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);	
}

.group-info {
	float: left;
	width: 100%;
	min-height: 50px;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.35);	*/
}

.group-events {
	float: left;
	width: 100%;
	min-height: 200px;
	
}

/* GROUP IMAGE */
/* IMAGES */
.group-profile-background {
		
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-moz-linear-gradient(top, rgba(0,0,0,.3) 75%, rgba(0,0,0,0.9)),		
	url('../../images/site_images/background.jpg'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-webkit-linear-gradient(top, rgba(0,0,0,.3) 75%, rgba(0,0,0,0.9)),	
	url('../../images/site_images/background.jpg'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	-o-linear-gradient(top, rgba(0,0,0,.3) 75%, rgba(0,0,0,0.9)),		
	url('../../images/site_images/background.jpg'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),	
	-ms-linear-gradient(top, rgba(0,0,0,.3) 75%, rgba(0,0,0,0.9)),		
	url('../../images/site_images/background.jpg'); 
	
	background-image:		
	url('../images/background/overlay/overlay.png'),		
	linear-gradient(top, rgba(0,0,0,.3) 75%, rgba(0,0,0,0.9)),			
	url('../../images/site_images/background.jpg'); 
	
	background-position: top left, bottom left, auto;
	background-size: auto, 100% 100%, cover;
	background-repeat: repeat, no-repeat, auto;		

} 

.group-profile-image-holder {
	width: 30%;
	height: 100px;
	margin-top: 15px;
	margin-left: 35%;
	text-align: center;
}

.group-profile-image {
	height: 100px;
	margin-top: 5px;
	border: 5px solid white;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;	
}


/* GROUP INFO */
/* Structure */
.group-information {
	float: left;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);	
}

.group-information-events  {
	float: left;
	width: 33%;
	height: 50px;
	border-right: 1px solid rgba(0, 0, 0, 0.3);			
}

.group-information-followers {
	float: left;
	width: 33%;
	height: 50px;	
 	border-right: 1px solid rgba(0, 0, 0, 0.3);	
}

.group-information-follow {
	float: left;
	width: 33%;
	height: 50px;	 	
}

.group-information-header {
	float: left;
	width: 100%;
	height: 25px;
}

.group-information-body {
	float: left;
	width: 100%;
	height: 25px;
}

.follow-group-checkbox {
	margin-left: 50px;
	margin-left: 50px;
	height: 110%;
}

/* GROUP SELECT EVENT VIEW */
.group-event-view-select {
	float: left;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);	
}

.group-event-view-select-left  {
	float: left;
	width: 33%;
	height: 30px; 
	text-align: center;
}

.group-event-view-select-middle {
	float: left;
	width: 33%;
	height: 30px;	
	text-align: center;	
}

.group-event-view-select-right{
	float: left;
	width: 33%;
	height: 30px;	 	
	text-align: center;	
}

.group-event-view-select-icon {
	margin-top: 4px;
	font-size: 130%;
}






/****************************************************
SECTION 5F: User View (Small List View)
*****************************************************/
/* STRUCTURE */ 
.user-small {
	float: left;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);		
}

.user-small-image {
	float: left;
	width: 20%;
	height: 60px;
}

.user-small-name {
	float: left;
	width: 55%;
	height: 60px;	
}

.user-small-friends {
	float: left;
	width: 25%;
	height: 60px;		
	text-align: center;
}

/* STYLE */ 
.user-small-profile-image {
	width: 70%;
	margin-left: 15%;
	margin-top: 6px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;	
}	

.user-small-profile-name-text {
	font-size: 110%;
	margin-top: 20px;
}	

.user-small-profile-friend-text {
	font-size: 110%;
	margin-top: 14px;
	border: 1px solid #00AEFF;
	color: #00AEFF;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 70%;
	margin-left: 15%;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;		
}	

/****************************************************
SECTION 1: Main Body, Global Styles and Site Wrapper
*****************************************************/
html {	
	height: 100%;
}

body {	
	height: 100%;
	background-color: #EEECE8;		
	background-color: #FFFFFF;		
	background-color: #FFFFFF;		
	background-color: #EEECE8;	
	background-color: #FFFFFF;			
	background-color: #F2F2F2;			
	background-color: #FFFFFF;		
}

/****************************************************
SECTION 2: Site Structure
*****************************************************/
/* SITE WRAPPER */
#site-wrapper {
	background-color: #EEECE8;
	background-color: #FFFFFF;	
	background-color: #F2F2F2;	
	background-color: #F5F5F5;	
	background-color: #F1F1F1;	
	background-color: #F7F7F7;	
	background-color: #F0F0F0;	
	background-color: #F5F5F5;	
	background-color: #FFFFFF;				
	width: 1240px;
	width: 100%;
	max-width: 1240px;
	min-width: 1040px;
	overflow: auto;	
	margin: 0px auto 0px auto;
	padding-top: 0px;
	min-height: 400px;
	border: 0px solid black;

}

.evently-notes {
	margin-left: 30%;
	margin-top: 12px;
	width: 40%;
	float: left;

}


/****************************************************
APPENDIX A: CSS defaults  
*****************************************************/
/* SITE COLOR */
.icon-color-gray {
	color: #767676;
}

/* BUTTONS */
/* BUTTON 1: Simple Button */
.button-simple {
	cursor: pointer;
	min-width: 80px;
	max-width: 112px;
	float: left;
	overflow: auto;
	min-height: 26px;
	overflow: auto;
	margin: 8px;
	margin-bottom: 14px;
	border: 1px solid blue;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;	
}


/* BUTTON 2: Login and Registration Buttons */
.login-button-blue {
	background-color: #1C9BE9;
	background-color: #128FDC;
	border-bottom-color: #FFF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #FFF;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #FFF;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;
	display: block;
	line-height: 32px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-propertyopacitytransition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	vertical-aligntop-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size: 16px;
	padding-top: 4px;
	line-height: 24px;
	background: #1c9be9;  
	background: -moz-linear-gradient(top, #1c9be9 0%, #0d96e5 50%, #0d96e5 53%, #1c9be9 100%);  
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c9be9), color-stop(50%,#0d96e5), color-stop(53%,#0d96e5), color-stop(100%,#1c9be9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1c9be9 0%,#0d96e5 50%,#0d96e5 53%,#1c9be9 100%);  
	background: -o-linear-gradient(top, #1c9be9 0%,#0d96e5 50%,#0d96e5 53%,#1c9be9 100%);  
	background: -ms-linear-gradient(top, #1c9be9 0%,#0d96e5 50%,#0d96e5 53%,#1c9be9 100%);  
	background: linear-gradient(to bottom, #1c9be9 0%,#0d96e5 50%,#0d96e5 53%,#1c9be9 100%);  
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c9be9', endColorstr='#1c9be9',GradientType=0 );  	
}

.login-button-blue:hover {
	background-color: #1C9BE9;
	color: #FFF;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
}

/* BUTTON 3: Login Button Large */
.login-button-large {
	background-color: #1C9BE9;
	background-color: #128FDC;
	border-bottom-color: #FFF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #FFF;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #FFF;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-propertyopacitytransition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	vertical-aligntop-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
}

.login-button-large :hover {
	background-color: #1C9BE9;
	color: #FFF;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
}

/* BUTTON 4: Default Button Style (blue) */
/* Blue Button */
.button-request {
	margin-top: 6px;
	background-color: #1C9BE9;
	background-color: #128FDC;
	border-bottom-color: #FFF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #FFF;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #FFF;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;

	font-size: 12px;
	font-weight: 600;
	line-height: 26px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	width: 50px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-propertyopacitytransition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	vertical-aligntop-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
}

.button-request:hover {
	background-color: #1C9BE9;
	color: #FFF;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
}


/* BUTTON 4: Blue Discussion Button */
/* Blue Button */
.button-discussion {
	background-color: #1C9BE9;
	background-color: #128FDC;
	border-bottom-color: #FFF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #FFF;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #FFF;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	line-height: 30px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	width: 64px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-propertyopacitytransition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	vertical-aligntop-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
	
}

.button-discussion:hover {
	background-color: #1C9BE9;
	color: #FFF;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
}


.button-discussion-file {
	background-color: #1C9BE9;
	background-color: #128FDC;
	border-bottom-color: #FFF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #FFF;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #FFF;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	line-height: 30px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	width: 84px;
	width: 84px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-propertyopacitytransition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	vertical-aligntop-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	
}

.button-discussion-file:hover {
	background-color: #1C9BE9;
	color: #FFF;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
}

/* BUTTON 4: Blue Discussion Button */
/* Blue Button */
.button-discussion-cancel {
	background-color: #1C9BE9;
	background-color: #128FDC;
	background-color: #FFFFFF;
	border-bottom-color: #D3D3D3;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-left-color: #D3D3D3;
	border-left-width: 1px;
	border-right-color: #D3D3D3;
	border-right-width: 1px;
	border-top-color: #D3D3D3;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-width: 1px;
	box-sizing: border-box;
	color: #FFFFFF;
	color: #333333;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	line-height: 30px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	width: 64px;
	height: 30px;
	border: 1px solid #D3D3D3;	
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-propertyopacitytransition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	vertical-aligntop-moz-border-bottom-colors: none;

}

.button-discussion-cancel:hover {
	background-color: #F0F0F0;
}

/* BUTTON 5: Accept Friend Request */
.button-user-friend-accept {
	background-color: #1C9BE9;
	background-color: #128FDC;
	border-bottom-color: #FFF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #FFF;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #FFF;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	line-height: 30px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-propertyopacitytransition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	vertical-aligntop-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
	
}

.button-user-friend-accept:hover {
	background-color: #1C9BE9;
	color: #FFF;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
}

/* BUTTON 6: Decline Friend Request */
.button-user-friend-decline {
	background-color: #1C9BE9;
	background-color: #128FDC;
	background-color: #FFFFFF;
	border-bottom-color: #D3D3D3;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-left-color: #D3D3D3;
	border-left-width: 1px;
	border-right-color: #D3D3D3;
	border-right-width: 1px;
	border-top-color: #D3D3D3;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-width: 1px;
	box-sizing: border-box;
	color: #FFFFFF;
	color: #333333;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	line-height: 22px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	border: 1px solid #D3D3D3;	
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-propertyopacitytransition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	vertical-aligntop-moz-border-bottom-colors: none;

}

.button-user-friend-decline:hover {
	background-color: #F0F0F0;
}

/* BUTTON: White */
.button-white {
	background-color: #1C9BE9;
	background-color: #128FDC;
	background-color: #FFFFFF;
	border-bottom-color: #D3D3D3;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-left-color: #D3D3D3;
	border-left-width: 1px;
	border-right-color: #D3D3D3;
	border-right-width: 1px;
	border-top-color: #D3D3D3;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-width: 1px;
	box-sizing: border-box;
	color: #FFFFFF;
	color: #333333;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	line-height: 30px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	border: 1px solid #D3D3D3;	
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-propertyopacitytransition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	vertical-aligntop-moz-border-bottom-colors: none;

}

.button-discussion-cancel:hover {
	background-color: #F0F0F0;
}

/* BUTTON: Blue */
.button-blue {
	background-color: #1C9BE9;
	background-color: #128FDC;
	border-bottom-color: #FFF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #FFF;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #FFF;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	line-height: 30px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-propertyopacitytransition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	vertical-aligntop-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;

	
}

.button-blue:hover {
	background-color: #1C9BE9;
	color: #FFF;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
}



/* DISPLAY */
.hide {
	display: none;
}

/* BACKGROUND */
.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.white {
	background-color: white;
}

/* BORDER */
.border-blue {
	border: 1px solid blue;
	margin-bottom: 20px;
}

/* TEXT */
.bold {
	font-weight: bold;
}

.text-button {
	float: left;
	margin: 6px;
	padding: 2px;
	border: 1px solid blue;
	cursor: pointer;
}

.center-text {
	text-align: center;
}

.font-ninety-five {
	font-size: 95%;
}

.text-zero {
	padding: 0px;
	margin: 0px;
}

/* POSITION */
.absolute-position {
	position: absolute; 
}

.absolute-position-blue {
	background-color: blue;
	position: absolute;
	
}
 
.relative-position {
	position: relative;
}
 
.absolute {
	position: absolute; 
}
 
.relative {
	position: relative;
}

.inline {
	display: inline;
}

.left {
	float: left;	
}

.clear {
	clear: both;
}

/* TEXT */
.text-inline {
	float: left;
	min-width: 20px;
	border: 1px solid blue;
}

.center {
	text-align: center;
}


/* CONTAINERS */

 
/* CENTER */

/* UIKIT FIX */	
.uk-grid-full-adjust {
	margin-left: 16px;
	
}	

.uk-grid-adjust {
	margin-left: 6px;
}

/* HTML OVERWRITE */
input[type="radio"] {
    -webkit-appearance: checkbox;  
    -moz-appearance: checkbox;     
    -ms-appearance: checkbox;      
}

/****************************************************
APPENDIX B: Warning and Error Text
*****************************************************/
.error-message-red {
	color: #D94141;
}

/****************************************************
APPENDIX C: Fonts
*****************************************************/
@font-face {
    font-family: 'logo';
    src: url('fonts/Chunk.eot');
    src: url('fonts/Chunk.eot?#iefix') format('embedded-opentype'),
        url('fonts/Chunk.woff') format('woff'),
        url('fonts/Chunk.ttf') format('truetype'),
        url('fonts/Chunk.svg#Chunkfive') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.woff") format("woff"), url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.ttf") format("truetype"), url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.svg#svgFontName") format("svg");
}


/* FONTS */
.proxima {
	font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
}

.varela {
	font-family: 'Varela', sans-serif;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.logo {
	font-family: 'logo', sans-serif;
}


/****************************************************
APPENDIX D: Colors 
*****************************************************/
.blue-one {
	color: #1DA1F2;
}
/*
Nice Red: #D94141
Other Nice Red #FE5353
Red-pink: #ff5a5f
Orange: #F2992E
Nice Blue: #1DA1F2 (twit)
background-color: #3DC0F1;
Red #FC3254
*/

/****************************************************
APPENDIX E: Temporary Code
*****************************************************/


/****************************************************
APPENDIX F: Old Code 
*****************************************************/

/****************************************************
APPENDIX F: Updates Page *temp
*****************************************************/
#update-holder {
	margin-top: 80px;
	width: 80%;
	margin-left: 10%;
 
}

.update {
	margin-top: 5px;
	margin-bottom: 25px;
	border-top: 1px solid #dddddd; 
	border-bottom: 1px solid #dddddd; 
 
}

dl {
	margin-top: 0px;
	padding-top: 0px;
}

/* Text Style */
.header-text {
	padding: 0px;
	margin: 0px;
	font-weight: bold;	
	text-align: center;
 
}

.header-sub-text {
	padding: 0px;
	margin: 0px;
	font-weight: bold;	
	text-decoration: underline;	
}

.small-text {
	font: normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.small-text-bold {
	font: normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}


.update-row {
	background-color: #F0F0F0;
}























