/*TOC*/
/*
Global
SECTION 1: Main Body, Global Styles 
SECTION 2: Site Structure

Header and Navigation 
SECTION 3A: Header and Navigation Bar 

Page Specific 
SECTION 4A: Mobile Page

Component Specific
SECTION 5A: Header Bar 
SECTION 5B: Footer Bar 
SECTION 5C: Post 

Style Specific 
SECTION 6A: Buttons

Modal Specific 
SECTION 6B: 


Appendix 
APPENDIX A: CSS defaults  				
APPENDIX B: Fonts


*/



/****************************************************
SECTION 1: Main Body, Global Styles and Site Wrapper
*****************************************************/
html {	
	height: 100%; 
	background-color: #1F2532;		
}

body {		
	height: 100%;
	background-color: #FFFFFF;			
	background-color: #1F2532;			
}

header {
    position:fixed;
	background-color: #202022;	
	background-color: #FFFFFF;	
	background-color: #1F2532;		
	width: 100%;	
	height: 68px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(247,247,247,0.3);
	border-bottom: 1px solid rgba(247,247,247,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.5)
	z-index: 10;
}


 
/****************************************************
SECTION 2: Site Structure
*****************************************************/


/****************************************************
SECTION 4A: Mobile Page
*****************************************************/
/* STRUCTURE */
.mobile {
	 position: fixed;
    right: 0;
    left: 0;
	width: 360px;
	height: 580px;
	margin-top: 120px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;	
	border: 1px solid rgba(0, 0, 0, 0.7);		
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	
}

.mobile-header {
	float: left;
	width: 100%;
	height: 50px;
	background-color: #232F3E;		
	background-color: #FC3768;	
	background-color: #F05559;
	background-color: #EA4C89;	
}
	
.mobile-body {
	float: left;
	background-color: #FFFFFF;	
	overflow: hidden;
	width: 100%;
	height: 470px;
	border-top: 1px solid rgba(0, 0, 0, 0.02);		
	border-bottom: 1px solid rgba(0, 0, 0, 0.02);				
}

.mobile-footer {
	float: left;
	width: 100%;
	height: 58px;	
	background-color: #FFFFFF;		
	border-top: 1px solid rgba(0, 0, 0, 0.2);		
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;;	
}



 
/****************************************************
SECTION 5A: Header Bar 
*****************************************************/

/****************************************************
SECTION 5B: Footer Bar
*****************************************************/

/* STRUCTURE */
.footer-container-four {
	float: left;
	width: 25%;
	height: 58px;		
	cursor: pointer;
}

.footer-container-four:hover {
	background-color: #;		
}

.mobile-footer-icon-holder {
	float: left;
	width: 100%;
	height: 36px;				
 
}

.mobile-footer-text-holder {
	float: left;
	width: 100%;
	height: 24px;	 
}

/* STYLE */
.footer-icon {

	margin: 0px;
	margin-top: 6px;
	padding: 0px;
	text-align: center;
}


.footer-text {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: #E6E6E6;	
	color: #E8E8E8;	
	color: #5C5C5C;	
}	
	
	
/******/



/* STRUCTURE */
/*
.footer-height {
	min-height: 58px;
}




.border-gray-right {
	float: right;
	height: 60px;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid rgba(0, 0, 0, 0.3);	
}

*/
/****************************************************
SECTION 5C: Post 
*****************************************************/
/* HEADER */
.post-user-image {
	float: left;
	margin: 6px;
	height: 38px;	
	background-color: #FFFFFF;		
	-webkit-border-radius: 80px 80px 80px 80px;
	-moz-border-radius: 80px 80px 80px 80px;
	border-radius: 80px 80px 80px 80px;	
}

.post-user-name {
	float: left;
	color: #3a8bbb;
	font-weight: bold;
}

/* BODY */
.mobile-post-image {
	width: 100%;
}

/* FOOTER */
.post-text {
	margin: 6px;
}




/****************************************************
SECTION 6A: Buttons
*****************************************************/
/* HEADER */
.header-button {
	float: left;
	margin-top: 8px;
	margin-left: 20px;
	width: 90px;
	height: 32px;
	cursor: pointer;
	-webkit-border-radius: 16px 16px 16px 16px;
	-moz-border-radius: 16px 16px 16px 16px;
	border-radius: 16px 16px 16px 16px;	
}

.header-button-selected {
	background-color: #CF494D;
	background-color: #E7316B;	
}

.header-selected-button-text {
	text-align: center;
	font-size: 14px;
	padding-top: 6px;
	font-weight: bold;
	color: 	#FFFFFF;
}


	
/****************************************************
APPENDIX A: CSS defaults  
*****************************************************/
.hide {
	display: none;
}

.center-text {
	text-align: center;
}


/****************************************************
APPENDIX B: Fonts
*****************************************************/
@font-face {
    font-family: 'logo';
    src: url('fonts/Chunk.eot');
    src: url('fonts/Chunk.eot?#iefix') format('embedded-opentype'),
        url('fonts/Chunk.woff') format('woff'),
        url('fonts/Chunk.ttf') format('truetype'),
        url('fonts/Chunk.svg#Chunkfive') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.woff") format("woff"), url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.ttf") format("truetype"), url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.svg#svgFontName") format("svg");
}


/* FONTS */
.proxima {
	font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
}

.varela {
	font-family: 'Varela', sans-serif;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.logo {
	font-family: 'logo', sans-serif;
}



