/*TOC*/
/*
Global
SECTION 1: Main Body, Global Styles 
SECTION 2: Site Structure

Page Specific 
SECTION 3A: Individual Page
SECTION 3B: Header 
SECTION 3C: Footer  

Component Specific
SECTION 4A: Component

Style Specific 
SECTION 5A: Buttons

Appendix 
APPENDIX A: CSS defaults  				
APPENDIX B: Fonts

*/



/****************************************************
SECTION 1: Main Body, Global Styles and Site Wrapper
*****************************************************/
html {	
	height: 100%; 
	background-color: #1F2532;	
	background-color: #FFFFFF;		
}

body {		
	height: 100%;	
	background-color: #1F2532;			
	background-color: #FFFFFF;			
}

header {
    position:fixed;
	background-color: #202022;	
	background-color: #1F2532;	
	background-color: #FFFFFF;		
	width: 100%;	
	height: 68px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(247,247,247,0.3);
	border-bottom: 1px solid rgba(247,247,247,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.5)
	z-index: 10;
}


 
/****************************************************
SECTION 2: Site Structure
*****************************************************/

/****************************************************
SECTION 3A: Individual Page
*****************************************************/
/* STRUCTURE */
.mobile {
	 position: fixed;
    right: 0;
    left: 0;
	width: 360px;
	height: 580px;
	margin-top: 120px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;	
	border: 1px solid rgba(0, 0, 0, 0.7);		
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	
}

.mobile-header {
	float: left;
	width: 100%;
	height: 50px;
	margin-top: 2px;
	background-color: #232F3E;		
	background-color: #FC3768;	
	background-color: #F05559;
	background-color: #EA4C89;	
	background-color: #FFFFFF;	
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);	
}
	
.mobile-body {
	float: left;
	background-color: #FFFFFF;	
	overflow: hidden;
	width: 100%;
	height: 466px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);				
}

.mobile-footer {
	float: left;
	width: 100%;
	height: 58px;	
	background-color: #FFFFFF;		
	
}


/****************************************************
SECTION 3A: Header   
*****************************************************/

/****************************************************
SECTION 3B: Footer  
*****************************************************/

/* STRUCTURE */
.footer-container-four {
	float: left;
	width: 25%;
	height: 58px;		
	cursor: pointer;
}

.footer-container-four:hover {
	background-color: #;		
}

.mobile-footer-icon-holder {
	float: left;
	width: 100%;
	height: 36px;				
 
}

.mobile-footer-text-holder {
	float: left;
	width: 100%;
	height: 24px;	 
}

/* STYLE */
.footer-icon {

	margin: 0px;
	margin-top: 6px;
	padding: 0px;
	text-align: center;
}


.footer-text {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: #E6E6E6;	
	color: #E8E8E8;	
	color: #5C5C5C;	
}	
	

	
/****************************************************
APPENDIX A: CSS defaults  
*****************************************************/
.hide {
	display: none;
}

.center-text {
	text-align: center;
}


/****************************************************
APPENDIX B: Fonts
*****************************************************/
@font-face {
    font-family: 'logo';
    src: url('fonts/Chunk.eot');
    src: url('fonts/Chunk.eot?#iefix') format('embedded-opentype'),
        url('fonts/Chunk.woff') format('woff'),
        url('fonts/Chunk.ttf') format('truetype'),
        url('fonts/Chunk.svg#Chunkfive') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.eot?#iefix") format("embedded-opentype"), url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.woff") format("woff"), url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.ttf") format("truetype"), url("https://s.yimg.com/uy/build/fonts//ProximaNova-Reg-webfont-v2.svg#svgFontName") format("svg");
}


/* FONTS */
.proxima {
	font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
}

.varela {
	font-family: 'Varela', sans-serif;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.logo {
	font-family: 'logo', sans-serif;
}



